* {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    a {
        color: white;
    }
}

footer {
    background-color: black;
    justify-content: center;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    a {
        color: white;
    }
      position: fixed;
}

img {
    border-width: 2em;
    border-color: white;
}

.headerElem {
    margin: 10px;
}

.footerElem {
    margin: 10px;
}
