header {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    a {
        color: white;
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    a {
        color: white;
    }
}

.logo {
    padding: 2em;
    max-block-size: 20%;
}

.headerElem {
    margin: 10px;
}

.footerElem {
    margin: 10px;
}
