header {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    a {
        color: white;
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    a {
        color: white;
    }
}

img {
    border-width: 2em;
    border-color: white;
}

.headerElem {
    margin: 10px;
}

.footerElem {
    margin: 10px;
}
